<ion-content class="ion-padding custom-content">
  <h2 class="header-text">Cursos</h2>
  
  <div class="course-container">
   
    <ion-card class="custom-card">
      <ion-card-header>
        <ion-card-title class="card-title">Programación de Aplicaciones Móviles</ion-card-title>
      </ion-card-header>
      <ion-button color="secondary" expand="full" class="card-button" (click)="ingresarCurso('programacion')">Ingresar</ion-button>
    </ion-card>
    
  
    <ion-card class="custom-card">
      <ion-card-header>
        <ion-card-title class="card-title">Desarrollo Web</ion-card-title>
      </ion-card-header>
      <ion-button color="secondary" expand="full" class="card-button" (click)="ingresarCurso('web')">Ingresar</ion-button>
    </ion-card>

  
  </div>
  
</ion-content>
