
ion-header {
  background: var(--ion-color-primary);
  color: white;
}

ion-content {
  --background: url('https://media.istockphoto.com/id/1353473723/es/foto/fondo-abstracto-de-movimiento-borroso-desenfocado-amarillo-y-naranja-soleado.jpg?s=612x612&w=0&k=20&c=szFbBBCrxvfx9E0AGDVBOP6F4gRSH6zliCQcKPxJKrE=') 0 0 / 100% 100% no-repeat;
  padding: 16px;
}

ion-segment {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

ion-segment-button {
  flex: 1;
  min-width: 100px;
  box-sizing: border-box;
}

.qr-container {
  text-align: center;
  margin-top: 20px;
}

ion-button {
  margin-bottom: 15px;
  background-color: var(--ion-color-secondary);
  color: white;
}

p {
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

@media (min-width: 576px) {
  p {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 20px;
  }
}

ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-list {
  margin-top: 10px;
}
